@import "~breakpoint-sass";

@import "~@bashkim-com/design-system/src/styleguide/utils/colors";
@import "~@bashkim-com/design-system/src/styleguide/utils/grid";
@import "~@bashkim-com/design-system/src/styleguide/utils/media";

.NavigationSocial {
  a {
    display: block;
  }

  @include breakpoint($media-mobile) {
    a {
      display: flex;
    }

    svg {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 30px;
      margin-top: 7px;
      margin-right: 10px;
      margin-bottom: 13px;
    }

    span {
      font-weight: bold;
      line-height: 48px;
      text-transform: uppercase;
      color: #b6b6b6;
    }
  }

  @include breakpoint($media-not-mobile) {
    padding-left: 12px;

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    span {
      display: none;
    }
  }
}

%SocialIcon {
  background-repeat: no-repeat;
  background-position: center center;

  a {
    @include grid-cell-padding(
      $breakpoints: (
        tablet-portrait,
        tablet-landscape,
        desktop-narrow,
        desktop-wide,
      ),
      $sides: (
        left,
        right,
      )
    );

    @include breakpoint($media-not-mobile) {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  svg {
    display: block;
    fill: $color-shade-border;
  }

  path {
    transition: fill 0.3s ease-in-out;
  }

  .NavigationSocial.isScrollAtTop & svg {
    fill: $color-white;
  }
}

.IconGitHub {
  @extend %SocialIcon;

  @include breakpoint($media-mobile) {
    svg path {
      fill: $color-shade-border;
    }
  }

  @include breakpoint($media-not-mobile) {
    a:hover svg path {
      fill: #24292f;
    }
  }
}

.IconLinkedIn {
  @extend %SocialIcon;

  @include breakpoint($media-mobile) {
    svg path {
      fill: $color-shade-border;
    }
  }

  @include breakpoint($media-not-mobile) {
    a:hover svg path {
      fill: #0077b5;
    }
  }
}

.IconStackOverflow {
  @extend %SocialIcon;

  @include breakpoint($media-mobile) {
    svg :global(.stackoverflow_svg__Container),
    svg :global(.stackoverflow_svg__Stack) {
      fill: $color-shade-border;
    }
  }

  @include breakpoint($media-not-mobile) {
    a:hover svg :global(.stackoverflow_svg__Container) {
      fill: #bcbbbb;
    }

    a:hover svg :global(.stackoverflow_svg__Stack) {
      fill: #f48024;
    }
  }
}
