@import "~breakpoint-sass";
@import "../../styleguide/vendors/grid/";
@import "../../styleguide/utils/media";
@import "../../styleguide/utils/grid";
@import "../../styleguide/utils/colours";
@import "../../styleguide/utils/wysiwyg";

.accolade {
  @include grid-container;
}

.accoladeDetails {
  @extend %wysiwyg;

  @include grid-cell(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 12,
      tablet-portrait: 4,
      tablet-landscape: 3,
      desktop-narrow: 3,
      desktop-wide: 3
    )
  );
}

.awards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include grid-cell-width(
    $breakpoints: (
      mobile-portrait: 12,
      mobile-landscape: 12,
      tablet-portrait: 8,
      tablet-landscape: 9,
      desktop-narrow: 9,
      desktop-wide: 9
    )
  );
}

.award {
  @extend %wysiwyg;
  @include grid-cell(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 6,
      tablet-portrait: 12,
      tablet-landscape: 6,
      desktop-narrow: 6,
      desktop-wide: 6
    )
  );
}

.award a {
  display: block;
  position: relative;
  padding-top: 3px;
  padding-left: 75px;
}

.trophy {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;

  &.gold {
    fill: $color-accolade-gold;
  }

  &.silver {
    fill: $color-accolade-silver;
  }

  &.bronze {
    fill: $color-accolade-bronze;
  }

  &.honour {
    fill: $color-accolade-honour;
  }
}

@include breakpoint($media-mobile) {
  .accolade {
    padding-top: 20px;
  }
}

@include breakpoint($media-not-mobile) {
  .accolade {
    padding-top: 20px;
  }
}
