@import "~@bashkim-com/style-guide/grid.scss";

.CaseStudyCollaborators {
  @include grid-container;
}

.CaseStudyCollaborator {
  @include grid-cell(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 6,
      tablet-portrait: 4,
      tablet-landscape: 3,
      desktop-narrow: 3,
      desktop-wide: 3,
    )
  );

  strong {
    font-weight: bold;
  }

  a {
    text-decoration: underline;
  }
}
