@import "~@bashkim-com/style-guide/colors.scss";
@import "~@bashkim-com/style-guide/media.scss";

.Introduction {
  a {
    border: solid $color-white;
    color: $color-white;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
    padding: 0.2rem 0.7rem;

    transition-duration: 0.3s;
    transition-property: background-color, color;
    transition-timing-function: ease-in-out;
  }

  a:hover {
    background-color: $color-white;
    color: $color-greyscale-100;
  }

  @media #{$media-query-mobile} {
    a {
      border-width: 0.13rem;
    }
  }

  @media #{$media-query-not-mobile} {
    a {
      border-width: 0.17rem;
    }
  }
}

.Links {
  display: flex;
  flex-direction: row;

  @media #{$media-query-screen-small} {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.Link {
  flex: 1 0 50%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.LinkIcon {
  display: block;
  margin: 12px auto;
  fill: #ffffff;
  width: 75px;
  height: 75px;

  a & {
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
  }

  a:hover & {
    transform: scale(1.1);
  }
}
