@import "~@bashkim-com/style-guide/colors.scss";
@import "~@bashkim-com/style-guide/grid.scss";
@import "~@bashkim-com/style-guide/media.scss";

.CaseStudyHeader {
  @include grid-container;
}

.CaseStudyDetails {
  @include grid-cell(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 12,
      tablet-portrait: 9,
      tablet-landscape: 9,
      desktop-narrow: 9,
      desktop-wide: 9,
    )
  );
}

.CaseStudyTechnologies {
  @include grid-cell(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 12,
      tablet-portrait: 3,
      tablet-landscape: 3,
      desktop-narrow: 3,
      desktop-wide: 3,
    )
  );

  @media #{$media-query-not-mobile} {
    border-left: solid 1px $design-box-border-color;
  }
}
