@import "~@bashkim-com/style-guide/colors.scss";
@import "~@bashkim-com/style-guide/grid.scss";
@import "~@bashkim-com/style-guide/media.scss";

.FullBannerPartial {
  width: 100%;
  background-color: $color-greyscale-100;
  background-repeat: no-repeat;
  color: $color-white;

  @media #{$media-query-mobile} {
    background-size: 100% auto;
    background-position: bottom;
    padding-top: 10px;
    padding-bottom: 75vw;
  }

  @media #{$media-query-not-mobile} {
    background-size: auto 100%;
    background-position: center center;
  }
}

.Container {
  @include grid-container($margin: ());

  @media #{$media-query-not-mobile} {
    height: 400px;
    max-height: 450px;
  }
}

.Content {
  @include grid-cell(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 12,
      tablet-portrait: 6,
      tablet-landscape: 5,
      desktop-narrow: 4,
      desktop-wide: 4,
    )
  );

  @media #{$media-query-not-mobile} {
    align-self: center;
  }
}
