@import "~@bashkim-com/style-guide/colors.scss";
@import "~@bashkim-com/style-guide/headings.scss";

.Tile {
  background-color: $design-box-background-color;
  color: $design-box-foreground-color;
  box-shadow: $design-box-shadow;
  transition: all 0.3s ease-in-out;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  height: 100%;
  max-width: 350px;

  a:hover & {
    box-shadow: $design-box-shadow-accent;
  }
}

.Poster {
  height: 1px;
  padding-bottom: 56.25%;
  order: 1;
  background-repeat: no-repeat;
  background-size: cover;
}

.Content {
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 12px;
}

.Icon {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  width: 158px;
  height: 158px;
  order: 2;
  border-radius: 50%;
  border: solid 4px $design-box-background-color;
  background-color: $design-box-background-color;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
  }
}

.Heading {
  @extend %heading-3;
  order: 3;
}

.Description {
  order: 4;
  margin-top: 10px;
}
