@import "~breakpoint-sass";
@import "~%styleguide/vendors/grid/_";
@import "~%styleguide/utils/media";
@import "~%styleguide/utils/grid";
@import "~%styleguide/utils/wysiwyg";

.PartialNewspaper {
  @include grid-container-max-width;
  @include grid-container-padding;
  margin: 0 auto;
  column-gap: 0;
  column-rule-style: none;
  column-rule-width: 0;
  column-rule-color: transparent;

  @include breakpoint($media-mobile-portrait) {
    column-count: 1;
  }

  @include breakpoint($media-mobile-landscape) {
    column-count: 2;
  }

  @include breakpoint($media-tablet-portrait) {
    column-count: 3;
  }

  @include breakpoint($media-screen-large) {
    column-count: 4;
  }

  > li {
    @extend %wysiwyg;
    @include grid-cell-padding;

    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
