@import "~breakpoint-sass";

@import "~@bashkim-com/design-system/src/styleguide/utils/colors";
@import "~@bashkim-com/design-system/src/styleguide/utils/grid";
@import "~@bashkim-com/design-system/src/styleguide/utils/media";

/* Core */

.FooterColumn {
  position: relative;

  @include breakpoint($media-screen-small) {
    ul {
      display: none;
    }

    &[aria-expanded="true"] ul {
      display: block;
    }
  }

  @include breakpoint($media-screen-large) {
    float: left;
    width: 200px;
    padding-top: 0;
    padding-bottom: 0;
  }

  /* Heading */

  .Label {
    @include grid-full-padding(
      $breakpoints: (
        mobile-portrait,
        mobile-landscape,
        tablet-portrait,
      )
    );

    display: block;
    line-height: 3em;
    background-color: $color-charcol;
    color: $color-white;
    text-transform: uppercase;
  }

  @include breakpoint($media-screen-small) {
    .Label {
      position: relative;
      padding-top: 1px;
      padding-bottom: 0;
    }

    /* Line */
    .Label::before {
      content: "";
      display: block;
      position: absolute;
      background-color: $color-white;
      left: 14px;
      right: 14px;
      bottom: -1px;
      height: 1px;
      z-index: 1;
    }

    /* Expand/collapse icon */
    .Label::after {
      content: "▽";
      position: absolute;
      top: 50%;
      right: 1em;
      width: 1.5em;
      height: 3em;
      text-align: center;
      transform: translateY(-50%);
      line-height: 3em;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    &[aria-expanded="true"] .Label::after {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  @include breakpoint($media-screen-large) {
    .Label {
      cursor: inherit;
    }

    &:nth-last-child(n + 2) .Label::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      height: 1em;
      width: 1px;
      right: 10px;
      background-color: $color-white;
      margin-top: 1em;
      z-index: 1;
    }
  }

  /* Content */

  ul {
    @include grid-full-padding(
      $breakpoints: (
        mobile-portrait,
        mobile-landscape,
        tablet-portrait,
      )
    );
  }

  a {
    display: block;
    text-transform: uppercase;
    color: $color-text-copy;
    font-size: 1em;
  }

  @include breakpoint($media-screen-small) {
    ul {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    a {
      display: block;
      position: relative;
      line-height: 3em;
      font-size: 1em;
    }

    a::before {
      content: "\2022";
      display: inline-block;
      width: 1em;
      font-weight: bold;
      font-size: 20px;
    }
  }

  @include breakpoint($media-screen-large) {
    ul {
      padding-top: 1em;
      padding-bottom: 1em;
    }

    li {
      height: 2em;
    }

    a {
      font-size: 1em;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
