@import "~breakpoint-sass";

@import "src/styleguide/utils/chevron";
@import "src/styleguide/utils/colors";
@import "src/styleguide/utils/grid";
@import "src/styleguide/utils/media";

.PartialHeaderText {
  @include chevron-down;

  position: relative;

  .Background {
    background-color: $color-charcol;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-repeat: no-repeat;
  }

  .Foreground {
    @include grid-container($margin: ());

    color: $color-white;
    width: 100%;
    align-items: center;
  }

  .Content {
    @include grid-cell(
      $columns: (
        mobile-portrait: 12,
        mobile-landscape: 12,
        tablet-portrait: 10,
        tablet-landscape: 7,
        desktop-narrow: 8,
        desktop-wide: 8,
      )
    );

    position: relative;
  }

  h1 {
    font-weight: bold;
  }

  .Aside {
    @include grid-cell(
      $columns: (
        mobile-portrait: 12,
        mobile-landscape: 12,
        tablet-portrait: 12,
        tablet-landscape: 5,
        desktop-narrow: 4,
        desktop-wide: 4,
      )
    );
  }

  @include breakpoint($media-mobile) {
    h1 {
      font-size: 12vw;
      line-height: 12vw;
    }

    p {
      font-size: 18px;
      line-height: 24px;
      margin-top: 10px;
    }

    .Foreground {
      padding-top: 80px;
      padding-bottom: 35px;
    }

    .Background {
      background-position-x: center;
      background-position-y: bottom;
    }
  }

  @include breakpoint($media-not-mobile) {
    padding-top: 61px;

    h1 {
      font-size: 80px;
      line-height: 100%;
    }

    p {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      margin-top: 20px;
    }

    .Foreground {
      padding-top: 80px;
      padding-bottom: 40px;
    }

    .Background {
      background-position-x: center;
      background-position-y: center;
    }
  }
}
