@import "~breakpoint-sass";
@import "~%styleguide/utils/colors";
@import "~%styleguide/utils/media";

.NavigationPrimary {
  a {
    font-weight: bold;
  }

  span {
    transition: all 0.3s ease-in-out;
  }

  @include breakpoint($media-mobile) {
    a {
      display: block;
      line-height: 48px;
      text-transform: uppercase;
      color: #b6b6b6;
      text-decoration: none;
      font-weight: bold;
    }
  }

  @include breakpoint($media-not-mobile) {
    ul {
      display: flex;
    }
  }

  @include breakpoint($media-not-mobile) {
    .navigation_portfolio a:hover,
    .navigation_portfolio.selected a {
      color: $color-theme-portfolio;
    }

    .navigation_about a:hover,
    .navigation_about.selected a {
      color: $color-theme-about;
    }

    .navigation_blog a:hover,
    .navigation_blog.selected a {
      color: $color-theme-blog;
    }
  }

  @include breakpoint($media-tablet-portrait) {
    a {
      padding: 0 14px;
    }

    .navigation_portfolio.selected span {
      border-bottom-color: $color-theme-portfolio;
    }

    .navigation_about.selected span {
      border-bottom-color: $color-theme-about;
    }

    .navigation_blog.selected span {
      border-bottom-color: $color-theme-blog;
    }
  }

  @include breakpoint($media-screen-large) {
    a {
      padding: 0 27px;
      border-left: solid 1px rgba(255, 255, 255, 0);
      border-right: solid 1px rgba(255, 255, 255, 0);
    }
  }
}
