/* colors */
$color-charcol: #303030;
$color-white: #ffffff;
$color-primary: #29e5d0;

/* theme */
$color-theme-blog: #d92929;
$color-theme-portfolio: #2f9be6;
$color-theme-about: #f2911c;

/* text */
$color-text-copy: #666666;

/* shades */
$color-shade-background: #fafafa;
$color-shade-border: #d9d9d9;

/* accolades */
$color-accolade-gold: #d6af36;
$color-accolade-silver: #a7a7ad;
$color-accolade-bronze: #824a02;
$color-accolade-honour: #cc0000;
