{
  "sourceMaps": true,

  "presets": ["next/babel"],

  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "%components": "./src/components",
          "%config": "./src/config",
          "%contexts": "./src/contexts",
          "%libraries": "./src/libraries",
          "%middleware": "./src/middleware",
          "%prismic": "./src/libraries/prismic",
          "%public": "./public",
          "%storybook": "./.storybook",
          "%styleguide": "./src/styleguide"
        }
      }
    ]
  ],

  "env": {
    "production": {
      "sourceMaps": false
    }
  }
}
