{
  "presets": [
    "next/babel"
  ],

  "plugins": [
    "inline-react-svg",
    [
      "module-resolver", {
        "root": ["./"],
        "alias": {
          "%root": "./",
          "%actions": "./store/actions",
          "%components": "./components",
          "%prop-types": "./prop-types",
          "%reducers": "./store/reducers",
          "%sagas": "./store/sagas",
          "%static": "./static",
          "%styleguide": "./styleguide"
        }
      }
    ]
  ],

  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  }
}
