{
  "sourceMaps": true,

  "presets": [
    "next/babel"
  ],

  "plugins": [
    "inline-react-svg",
    [
      "module-resolver", {
        "root": ["./"],
        "alias": {
          "%components": "./components",
          "%contexts": "./contexts",
          "%libraries": "./libraries",
          "%prismic": "./libraries/prismic",
          "%public": "./public",
          "%storybook": "./.storybook",
          "%styleguide": "./styleguide"
        }
      }
    ]
  ],

  "env": {
    "production": {
      "sourceMaps": false,
      "plugins": [
        "transform-react-remove-prop-types"
      ]
    }
  }
}
