@import "~@bashkim-com/design-system/src/styleguide/utils/colors";

@import "~%styleguide/utils/z-index";

.Menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $color-white;
  z-index: z-index("Menu");
  transform: translateY(-100%);
  transition: all 0.3s;
}

.isVisible {
  box-shadow: 0 10px 20px -13px rgba(30, 30, 30, 0.75);
  transform: translateY(0);
}

.back {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 60px;
  text-align: center;
  width: 60px;
  height: 60px;
  display: block;

  a {
    display: inline-block;
    color: $color-charcol;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  svg {
    display: inline-block;
    fill: $color-charcol;
    height: 60px;
  }
}

.logo {
  text-align: center;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

.signifier {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
