@import "~@bashkim-com/style-guide/colors.scss";
@import "~@bashkim-com/style-guide/grid.scss";
@import "~@bashkim-com/style-guide/headings.scss";
@import "~@bashkim-com/style-guide/media.scss";
@import "~@bashkim-com/style-guide/utils.scss";

.PageHeaderPartial {
  @include ChevronDown;

  position: relative;
  background-color: $color-greyscale-100;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media #{$media-query-not-mobile} {
    padding-top: 61px;
  }
}

.Foreground {
  @include grid-container($margin: ());

  color: $color-white;
  width: 100%;
  align-items: center;

  @media #{$media-query-mobile} {
    padding-top: 80px;
    padding-bottom: 35px;
  }

  @media #{$media-query-not-mobile} {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

.Content {
  @include grid-cell(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 12,
      tablet-portrait: 10,
      tablet-landscape: 6,
      desktop-narrow: 6,
      desktop-wide: 6,
    )
  );

  position: relative;
}

.Aside {
  @include grid-cell(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 12,
      tablet-portrait: 12,
      tablet-landscape: 6,
      desktop-narrow: 6,
      desktop-wide: 6,
    )
  );
}
