@import "~@bashkim-com/style-guide/grid.scss";

.CaseStudyExhibitions {
  @include grid-container();
}

.CaseStudyExhibition {
  @include grid-cell(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 6,
      tablet-portrait: 4,
      tablet-landscape: 3,
      desktop-narrow: 3,
      desktop-wide: 3,
    )
  );
}
