@import "~@bashkim-com/style-guide/colors.scss";

.MenuButton {
  appearance: none;
  border: none;
  background-color: transparent;

  display: block;
  width: 60px;
  height: 60px;
  line-height: 22px;

  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 60px;
  text-align: center;
  transition: color 0.3s;

  &:hover {
    color: $design-page-foreground-color-accent;
  }

  &:not(.clickable):not(:disabled) {
    cursor: default;
  }

  svg {
    display: inline-block;
    fill: currentColor;
    height: 60px;
  }

  &:focus {
    box-shadow: 0 0 4px #2196f3;
  }
}
