@import "~@bashkim-com/style-guide/grid.scss";
@import "~@bashkim-com/style-guide/utils.scss";

.GridLines {
  @include z-index("grid-lines");

  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Container {
  @include grid-container($margin: (), $padding: left right);
  height: 100%;
}

.Cell {
  @include grid-cell(
    $columns: (
      mobile-portrait: 1,
      mobile-landscape: 1,
      tablet-portrait: 1,
      tablet-landscape: 1,
      desktop-narrow: 1,
      desktop-wide: 1,
    )
  );

  background-color: rgba(200, 0, 0, 0.2);
  height: 100%;
}
