@import "~breakpoint-sass";
@import "~%styleguide/utils/clearfix";
@import "~%styleguide/utils/media";
@import "~%styleguide/utils/z-index";

@import "./styles.button";

.Magazine {
  @include clearfix;

  &.uninitialized {
    zoom: 1;
  }

  &.initialized {
    zoom: 1;
  }

  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: z-index(Magazine);

  .pages {
    margin-left: auto;
    margin-right: auto;
  }

  .pages img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include breakpoint($media-screen-small) {
    margin-bottom: 40px;

    &.initialized {
      margin-bottom: 50px;
    }
  }

  @include breakpoint($media-screen-large) {
    &.uninitialized {
      background-color: #F0F;
      li {
        float: left;
        width: 50%;
      }
    }

    margin-left: 50px;
    margin-right: 50px;
  }
}

