@import "~@bashkim-com/design-system/src/styleguide/utils/colors";
@import "~@bashkim-com/design-system/src/styleguide/utils/grid";
@import "~@bashkim-com/design-system/src/styleguide/designs/wysiwyg";

.AccoladeSlice {
  @include grid-container;

  padding-top: 20px;
}

.Details {
  @extend %wysiwyg;

  @include grid-cell(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 12,
      tablet-portrait: 3,
      tablet-landscape: 3,
      desktop-narrow: 3,
      desktop-wide: 3,
    )
  );
}

.Awards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include grid-cell-width(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 12,
      tablet-portrait: 9,
      tablet-landscape: 9,
      desktop-narrow: 9,
      desktop-wide: 9,
    )
  );
}

.Award {
  @extend %wysiwyg;
  @include grid-cell(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 6,
      tablet-portrait: 6,
      tablet-landscape: 4,
      desktop-narrow: 4,
      desktop-wide: 4,
    )
  );
}

.Award a {
  display: block;
  position: relative;
  padding-top: 3px;
  padding-left: 75px;
}

.Trophy {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  margin-top: 0;

  &[data-prop-place="gold"] {
    fill: $color-accolade-gold;
  }

  &[data-prop-place="silver"] {
    fill: $color-accolade-silver;
  }

  &[data-prop-place="bronze"] {
    fill: $color-accolade-bronze;
  }

  &[data-prop-place="honour"] {
    fill: $color-accolade-honour;
  }
}
