@import "../variables/font-size";
@import "../variables/media-query";

%heading {
  font-family: "Space Grotesk", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

%heading-1 {
  @extend %heading;
  @include font-size-largest;
}

%heading-2 {
  @extend %heading;
  @include font-size-larger;

  @media #{$media-query-mobile} {
    &:not(:first-child) {
      margin-top: 1.2rem;
    }
  }

  @media #{$media-query-not-mobile} {
    &:not(:first-child) {
      margin-top: 1.2rem;
    }
  }
}

%heading-3 {
  @extend %heading;
  @include font-size-large;

  @media #{$media-query-mobile} {
    &:not(:first-child) {
      margin-top: 1.23rem;
    }
  }

  @media #{$media-query-not-mobile} {
    &:not(:first-child) {
      margin-top: 1.72rem;
    }
  }
}
