%list {
  list-style: none;
  counter-reset: li;

  > li {
    margin-left: 20px;
    position: relative;
  }

  > li:first-child {
    margin-top: 0;
  }

  > li::before {
    position: absolute;
    display: block;
    counter-increment: li;
    margin-left: -20px;
  }
}

%list-ordered {
  @extend %list;

  > li::before {
    content: counter(li) ".";
  }
}

%list-unordered {
  @extend %list;

  > li::before {
    content: "\2022";
    font-weight: bold;
  }
}
