@use "sass:map";

@import "~@bashkim-com/style-guide/grid.scss";
@import "~@bashkim-com/style-guide/headings.scss";
@import "~@bashkim-com/style-guide/list.scss";
@import "~@bashkim-com/style-guide/media.scss";

.RichTextFormatter {
  * + * {
    @media #{$media-query-mobile-portrait} {
      margin-top: map.get($grid-design, mobile-portrait, gutter);
    }

    @media #{$media-query-mobile-landscape} {
      margin-top: map.get($grid-design, mobile-landscape, gutter);
    }

    @media #{$media-query-tablet-portrait} {
      margin-top: map.get($grid-design, tablet-portrait, gutter);
    }

    @media #{$media-query-tablet-landscape} {
      margin-top: map.get($grid-design, tablet-landscape, gutter);
    }

    @media #{$media-query-desktop-narrow} {
      margin-top: map.get($grid-design, desktop-narrow, gutter);
    }

    @media #{$media-query-desktop-wide} {
      margin-top: map.get($grid-design, desktop-wide, gutter);
    }
  }

  br {
    margin: 0;
  }

  h1 {
    @extend %heading-1;
  }

  h2 {
    @extend %heading-2;
  }

  h3 {
    @extend %heading-3;
  }

  ol {
    @extend %list-ordered;
  }

  ul {
    @extend %list-unordered;
  }

  li {
    margin-top: 0;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  a {
    text-decoration: underline;
  }
}
