@import "~@bashkim-com/style-guide/colors.scss";

%Icon {
  display: block !important;
}

.IconOn {
  @extend %Icon;
  color: $color-white;
}

.IconOff {
  @extend %Icon;
  color: $color-greyscale-100;
}
