@import "~%styleguide/utils/colors";
@import "~%styleguide/utils/ratios";

.VideoPlayerYouTube {
  @extend .ratio-widescreen;
  width: 100%;
  background-color: $color-charcol;
  color: $color-white;
}
