@import "~breakpoint-sass";
@import "~%styleguide/utils/colors";
@import "~%styleguide/utils/grid";
@import "~%styleguide/utils/wysiwyg";
@import "~%styleguide/utils/media";

.PartialSplitItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  div {
    @extend %wysiwyg;
    @include grid-cell-padding(
      $sides: (
        left,
        right,
      )
    );

    max-width: 320px;
    flex-grow: 1;
    flex-shrink: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  &.background {
    background-color: #EFEFEF;
    background-size: cover;
    background-position: center center;
  }

  &.background::before,
  &.background::after {
    border-color: $color-white;
  }

  @include breakpoint($media-mobile) {
    width: 100%;
    order: 2;

    &.foreground {
      padding: 20px;
    }

    &.background {
      min-height: 60vw;
      order: 1;
    }

    div {
      flex-basis: 100%;
    }
  }

  @include breakpoint($media-not-mobile) {
    width: 50%;
    min-height: calc(9 / 16 * 50vw);

    &.foreground {
      padding: 40px;
    }

    &.background {
      width: calc(50% + 20px);
    }

    div {
      flex-basis: 40%;
    }
  }
}
