@import "~breakpoint-sass";

@import "~@bashkim-com/design-system/src/styleguide/utils/grid";
@import "~@bashkim-com/design-system/src/styleguide/utils/media";

.FooterSocial {
  @include grid-cell(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 12,
      tablet-portrait: 12,
      tablet-landscape: 3,
      desktop-narrow: 3,
      desktop-wide: 3,
    )
  );

  @include breakpoint($media-screen-large) {
    text-align: right;

    .FooterColumn {
      float: right;
    }
  }
}
