@import "~%styleguide/utils/colors";
@import "~%styleguide/utils/wysiwyg";

.Brick {
  @extend %wysiwyg;

  display: block;
  height: 100%;

  .inner {
    position: relative;
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 80px;
    color: $color-text-copy !important;
    padding: 10px;
    height: 100%;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }

  .inner:hover {
    color: $color-charcol !important;
  }

  .image {
    position: absolute;
    top: 0;
    left: -80px;
    width: 75px;
    height: 75px;
    order: 2;
    border-radius: 50%;
    overflow: hidden;
  }

  .image img {
    max-width: 100%;
    height: auto;
  }

  h3 {
    @extend %heading3;

    order: 3;
    transition: all 0.3s ease-in-out;
  }

  p {
    order: 4;
  }
}
