@import "~breakpoint-sass";
@import "../../styleguide/vendors/grid/";
@import "../../styleguide/utils/media";
@import "../../styleguide/utils/grid";
@import "../../styleguide/utils/wysiwyg";
@import "../../styleguide/utils/chevron";

.PartialSplit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.odd {
  flex-direction: row-reverse;
}

@include breakpoint($media-mobile) {
  .PartialSplit :global(.PartialSplit_chevron) {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    @include chevron-down;
  }
}

@include breakpoint($media-not-mobile) {
  .PartialSplit.odd :global(.PartialSplit_chevron) {
    @include chevron-left;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 60px;
    padding-bottom: 40px;
  }

  .PartialSplit.even :global(.PartialSplit_chevron) {
    @include chevron-right;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
}
