@import "~breakpoint-sass";
@import "~%styleguide/utils/chevron";
@import "~%styleguide/utils/media";

.PartialSplit {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.odd {
    flex-direction: row-reverse;
  }

  @include breakpoint($media-mobile) {
    :global(.PartialSplit_chevron) {
      @include chevron-down;
    }
  }

  @include breakpoint($media-not-mobile) {
    &.odd :global(.PartialSplit_chevron) {
      @include chevron-left;
    }

    &.even :global(.PartialSplit_chevron) {
      @include chevron-right;
    }
  }
}
