@import "../base/headings/styles";

%wysiwyg {
  > * ~ * {
    @include breakpoint($media-mobile) {
      margin-top: 10px;
    }

    @include breakpoint($media-not-mobile) {
      margin-top: 12px;
    }
  }

  h3 {
    @extend %h3;
  }

  ul li::before {
    content: "\2022";
    font-weight: bold;
  }

  ol li::before {
    content: counter(li) ".";
  }

  ol,
  ul {
    list-style: none;
    counter-reset: li;

    > li {
      margin-left: 20px;
      position: relative;
    }

    > li:first-child {
      margin-top: 0;
    }

    > li::before {
      position: absolute;
      display: block;
      counter-increment: li;
      margin-left: -20px;
    }
  }

  strong {
    font-weight: bold;
  }

  @include breakpoint($media-mobile) {
    h3 {
      margin-bottom: 5px;
    }
  }

  @include breakpoint($media-not-mobile) {
    h3 {
      margin-bottom: 10px;
    }
  }
}
