@import "~@bashkim-com/style-guide/colors.scss";
@import "~@bashkim-com/style-guide/fonts.scss";
@import "~@bashkim-com/style-guide/media.scss";

.FooterLinks {
  a {
    @include font-size-medium;
    display: block;
    text-transform: uppercase;
  }

  a:hover {
    text-decoration: underline;
  }

  @media #{$media-query-screen-small} {
    a {
      display: block;
      position: relative;
      line-height: 2.5rem;
    }

    a::before {
      @include font-size-large;

      content: "\2022";
      display: inline-block;
      width: 1rem;
      font-weight: bold;
    }
  }

  @media #{$media-query-screen-large} {
    a {
      line-height: 2rem;
    }

    a:hover {
      color: $color-greyscale-150;
    }
  }
}
