@import "~@bashkim-com/style-guide/grid.scss";
@import "~@bashkim-com/style-guide/media.scss";

.CookiesTable {
  width: 100%;

  th {
    font-weight: bold;
    text-align: left;
  }

  @media #{$media-query-mobile} {
    thead {
      display: none;
    }

    tr {
      @include grid-cell-padding($sides: top bottom);

      display: block;
    }

    tbody th,
    tbody td {
      position: relative;
      display: block;
      text-align: left;
      margin-left: 100px;
    }

    tbody th::before,
    tbody td::before {
      display: block;
      font-weight: bold;
      position: absolute;
      left: -100px;
    }

    tbody th::before {
      content: "Name";
    }

    tbody td:nth-child(2)::before {
      content: "Purpose";
    }

    tbody td:nth-child(3)::before {
      content: "Lifetime";
    }
  }

  @media #{$media-query-not-mobile} {
    th {
      min-width: 100px;
    }

    thead th {
      @include grid-cell-padding($sides: left right);
    }

    tbody th,
    tbody td {
      @include grid-cell-padding($sides: top left right);
    }

    thead th:first-child,
    tbody th:first-child {
      padding-left: 0 !important;
    }

    thead th:last-child,
    tbody td:last-child {
      padding-right: 0 !important;
      text-align: right;
    }
  }
}
