.Slider {
  position: relative;
  margin-top: 20px;
  padding-top: 40px;

  &::before {
    content: "Slide to resize";
    position: absolute;
    top: 16px;
    left: 40px;
    right: 40px;
    line-height: 16px;
    text-align: center;
    font-size: 80%;
  }

  .IconMobile,
  .IconDesktop {
    position: absolute;
  }

  .IconMobile {
    top: 10px;
    left: 0;
  }

  .IconDesktop {
    top: 0;
    right: 0;
  }

  input[type="range"] {
    width: 100%;
    cursor: ew-resize;
  }
}
