@import "~@bashkim-com/design-system/src/styleguide/utils/grid";
@import "~@bashkim-com/design-system/src/styleguide/designs/wysiwyg";

.GridEmbedSlice {
  @include grid-container;
}

.item {
  @include grid-cell(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 6,
      tablet-portrait: 6,
      tablet-landscape: 4,
      desktop-narrow: 4,
      desktop-wide: 4,
    )
  );
}
