@import "~@bashkim-com/style-guide/colors.scss";

.ModalFrame {
  background-color: $design-box-background-color;
  color: $design-box-foreground-color;
  box-shadow: $design-box-shadow;
  border: solid 1px $design-box-border-color;
  border-radius: 4px;
}
