@import "~breakpoint-sass";
@import "~%styleguide/utils/media";
@import "~%styleguide/utils/grid";
@import "~%styleguide/utils/colors";
@import "~%styleguide/utils/wysiwyg";

.PartialFullBanner {
  width: 100%;
  background-color: $color-charcol;
  color: $color-white;

  .container {
    @include grid-container;
  }

  .content {
    @extend %wysiwyg;
    @include grid-cell(
      $columns: (
        mobile-portrait: 12,
        mobile-landscape: 12,
        tablet-portrait: 6,
        tablet-landscape: 5,
        desktop-narrow: 4,
        desktop-wide: 4,
      )
    );
  }

  @include breakpoint($media-mobile) {
    background-size: 100% auto;
    background-position: bottom;
    padding-top: 10px;
    padding-bottom: 75vw;

    .content h3 {
      font-size: 18px;
      line-height: 120%;
      font-weight: bold;
      text-align: center;
    }
  }

  @include breakpoint($media-not-mobile) {
    background-size: auto 100%;
    background-position: center center;

    .container {
      height: 400px;
      max-height: 450px;
    }

    .content {
      align-self: center;
      padding-bottom: 30px;
    }

    .content h3 {
      font-size: 32px;
      line-height: 150%;
      font-weight: bold;
    }
  }
}
