@mixin grid-full(
  $breakpoints: null,
  $margin: (
    left,
    right,
  ),
  $padding: (
    top,
    left,
  )
) {
  @if (type-of($breakpoints) == "null") {
    @include grid-container-gutter(map-keys($grid));
  } @else if (type-of($breakpoints) == "map") {
    @include grid-full(map-keys($breakpoints), $margin);
  } @else if (type-of($breakpoints) == "list") {
    @each $breakpoint in $breakpoints {
      @include grid-full($breakpoint, $margin);
    }
  } @else if (type-of($breakpoints) == "string") {
    $breakpoint: $breakpoints;
    @include grid-container-max-width($breakpoint);
    @include grid-container-margin($breakpoint, $margin);
    @include grid-container-padding($breakpoint, $padding);

    width: 100%;
    margin-left: auto;
    margin-right: auto;
  } @else {
    @error "grid-full( #{type-of($breakpoints)}, #{type-of($margin)} ): "
      "$breakpoints expected `null`, `list`, `map` or `string`";
  }
}
