@import "~breakpoint-sass";

@import "~@bashkim-com/design-system/src/styleguide/utils/media.scss";

.content {
  position: relative;
  outline: none;
  overflow: hidden;

  @include breakpoint($media-mobile) {
    margin-top: 60px;
  }

  @include breakpoint($media-not-mobile) {
    margin-top: -61px;
  }
}

.menu {
  @include breakpoint($media-not-mobile) {
    display: none;
  }
}

@include breakpoint($media-mobile) {
  .menuSignified {
    transition: all 0.3s ease-in-out;

    &.menuIsVisible {
      transform: translateX(-260px);
    }
  }
}
