@import "~breakpoint-sass";
@import "../../styleguide/vendors/grid/";
@import "../../styleguide/utils/media";
@import "../../styleguide/utils/grid";
@import "../../styleguide/utils/colours";

.NavigationPrimary {
  a {
    font-weight: bold;
  }

  a,
  span {
    transition: all .2s ease-out;
  }

  @include breakpoint($media-mobile) {
    a {
      display: block;
      border-bottom: solid 1px $color-shade-border;
      line-height: 48px;
      text-transform: uppercase;
      color: #B6B6B6;
      text-decoration: none;
      font-weight: bold;
    }
  }

  @include breakpoint($media-not-mobile) {
    ul {
      display: flex;
    }
  }

  @include breakpoint($media-not-mobile) {
    .navigation_portfolio a:hover,
    .navigation_portfolio.selected a {
      color: $color-theme-portfolio;
    }

    .navigation_about a:hover,
    .navigation_about.selected a {
      color: $color-theme-about;
    }

    .navigation_blog a:hover,
    .navigation_blog.selected a {
      color: $color-theme-blog;
    }
  }

  @include breakpoint($media-tablet-portrait) {
    a {
      padding: 0 14px;
    }

    .navigation_portfolio.selected span {
      border-bottom-color: $color-theme-portfolio;
    }

    .navigation_about.selected span {
      border-bottom-color: $color-theme-about;
    }

    .navigation_blog.selected span {
      border-bottom-color: $color-theme-blog;
    }
  }

  @include breakpoint($media-screen-large) {
    a {
      padding: 0 27px;
      border-left: solid 1px rgba(255, 255, 255, 0);
      border-right: solid 1px rgba(255, 255, 255, 0);
    }
  }
}
