@import "~@bashkim-com/style-guide/grid.scss";
@import "~@bashkim-com/style-guide/media.scss";

.Principles {
  @include grid-container();
}

.Principle {
  @include grid-cell(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 6,
      tablet-portrait: 3,
      tablet-landscape: 3,
      desktop-narrow: 3,
      desktop-wide: 3,
    )
  );

  svg {
    width: 50px;
    height: 50px;
  }

  @media #{$media-query-mobile-portrait} {
    position: relative;
    padding-top: 15px;
    padding-left: 85px;
    padding-bottom: 15px;

    svg {
      position: absolute;
      top: 10px;
      left: 10px;
      order: 1;
      margin-top: 0;
    }

    h3 {
      order: 2;
    }

    p {
      order: 3;
    }
  }

  @media #{$media-query-not-mobile-portrait} {
    svg {
      order: 1;
      display: block;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      fill: currentColor;
    }

    h3 {
      order: 2;
      text-align: center;
    }

    p {
      order: 3;
    }
  }
}

.Cell {
  display: flex;
  flex-direction: column;
}
