@import "~breakpoint-sass";
@import "~%styleguide/utils/grid";
@import "~%styleguide/utils/media";

.FooterSocial {
  @include grid-cell-width(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 12,
      tablet-portrait: 12,
      tablet-landscape: 3,
      desktop-narrow: 3,
      desktop-wide: 3
    )
  );

  @include breakpoint($media-screen-large) {
    text-align: right;
  }
}
