@import "~breakpoint-sass";

@import "~@bashkim-com/design-system/src/styleguide/designs/headings";
@import "~@bashkim-com/design-system/src/styleguide/utils/grid";
@import "~@bashkim-com/design-system/src/styleguide/utils/media";

.CaseStudyTechnologies {
  h3 {
    @extend %heading3;

    text-align: center;
  }

  ul {
    @include grid-container;
  }

  li {
    @include grid-cell(
      $columns: (
        mobile-portrait: 6,
        mobile-landscape: 3,
        tablet-portrait: 12,
        tablet-landscape: 6,
        desktop-narrow: 6,
        desktop-wide: 6,
      )
    );
  }

  .TechnologyIcon {
    vertical-align: middle;
    margin: 0 auto;
    width: 100%;
    max-width: 60px;
    height: auto;
  }

  .TechnologyName {
    display: block;
    text-align: center;
    font-size: small;
    font-weight: bold;
    text-transform: uppercase;
  }

  @include breakpoint($media-mobile) {
    h3 {
      margin-top: 24px;
      margin-bottom: 12px;
    }
  }

  @include breakpoint($media-screen-large) {
    h3 {
      margin-bottom: 24px;
    }
  }
}
