@import "~breakpoint-sass";
@import "~%styleguide/utils/colors";
@import "~%styleguide/utils/grid";
@import "~%styleguide/utils/media";

/* Core */

.FooterColumn {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;

  @include grid-cell-padding((
    tablet-landscape
    desktop-narrow
    desktop-wide
  ));

  @include breakpoint($media-screen-small) {
    ul {
      display: none;
    }

    &.visible ul {
      display: block;
    }
  }

  @include breakpoint($media-screen-large) {
    float: left;
    width: 200px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* Heading */

.FooterColumn {
  .label {
    @include grid-full-padding((
      mobile-portrait mobile-landscape tablet-portrait
    ));

    display: block;
    line-height: 3em;
    background-color: $color-charcol;
    color: $color-white;
    text-transform: uppercase;
  }

  @include breakpoint($media-screen-small) {
    .label {
      position: relative;
      padding-top: 1px;
      padding-bottom: 0;
    }

    /* Line */
    .label::before {
      content: "";
      display: block;
      position: absolute;
      background-color: $color-white;
      left: 1em;
      right: 1em;
      bottom: -1px;
      height: 1px;
      z-index: 1;
    }

    /* Expand/collapse icon */
    .label::after {
      content: "+";
      position: absolute;
      top: 50%;
      right: 1em;
      height: 3em;
      transform: translateY(-50%);
      text-align: right;
      line-height: 3em;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    &.visible .label::after {
      content: "-";
    }
  }

  @include breakpoint($media-screen-large) {
    .label {
      cursor: inherit;
    }

    &:nth-last-child(n+2) .label::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      height: 1em;
      width: 1px;
      right: -1px;
      background-color: $color-white;
      margin-top: 1em;
      z-index: 1;
    }
  }
}

/* Content */

.FooterColumn {
  ul {
    @include grid-full-padding((
      mobile-portrait mobile-landscape tablet-portrait
    ));
  }

  a {
    display: block;
    text-transform: uppercase;
    color: $color-text-copy;
    font-size: 1em;
  }

  @include breakpoint($media-screen-small) {
    ul {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    a {
      display: block;
      position: relative;
      line-height: 3em;
      font-size: 1em;
    }

    a::before {
      content: "\2022";
      display: inline-block;
      width: 1em;
      font-weight: bold;
      font-size: 20px;
    }
  }

  @include breakpoint($media-screen-large) {
    ul {
      padding-top: 1em;
      padding-bottom: 1em;
    }

    li {
      height: 2em;
    }

    a {
      font-size: 1em;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
