@import "~breakpoint-sass";
@import "../../styleguide/vendors/grid/";
@import "../../styleguide/utils/media";
@import "../../styleguide/utils/grid";
@import "../../styleguide/utils/colours";

.MenuBackButton {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 60px;
  text-align: center;
  width: 60px;
  height: 60px;
  display: block;

  a {
    display: inline-block;
    color: $color-charcol;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  svg {
    display: inline-block;
    fill: $color-charcol;
    height: 60px;
  }
}
