.JSONDecorator {
  padding: 20px;
}

.copyButton {
  float: right;
  padding: 0 20px;
  font-size: 100%;
  line-height: 200%;
  background-color: #1ea7fd;
  color: #fff;
  font-weight: bold;
}

.jsonTree {
  clear: both;
  padding: 5px 0;
  font-family: "Courier New", Courier, monospace;
}
