@import "~breakpoint-sass";

@import "~@bashkim-com/design-system/src/styleguide/utils/clearfix";
@import "~@bashkim-com/design-system/src/styleguide/utils/colors";
@import "~@bashkim-com/design-system/src/styleguide/utils/media";

.Navigation {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;

  nav {
    @include clearfix;
  }

  @include breakpoint($media-mobile) {
    flex-direction: column;

    nav {
      margin-bottom: 10px;
      flex-direction: column;
    }

    nav::before {
      content: attr(data-heading);
      display: block;
      margin-top: 30px;
      margin-bottom: 6px;
      text-transform: uppercase;
      color: $color-text-copy;
      font-weight: bold;
    }
  }

  :global(html.isReady) & a {
    transition: color 0.3s ease-in-out;
  }

  @include breakpoint($media-not-mobile) {
    color: #b6b6b6;

    li {
      line-height: 60px;
      height: 60px;
    }

    a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      color: inherit;
    }

    &.isScrollAtTop {
      color: $color-white;
    }
  }
}
