@import "~%styleguide/utils/grid";
@import "~%styleguide/utils/wysiwyg";


.CaseStudyDetails {
  @include grid-container(
    $padding: ()
  );

  > * {
    @extend %wysiwyg;
    @include grid-cell(
      $columns: (
        mobile-portrait: 12,
        mobile-landscape: 6,
        tablet-portrait: 6,
        tablet-landscape: 4,
        desktop-narrow: 4,
        desktop-wide: 4
      ),
      $padding: (left right)
    );

    padding-top: 12px;
    padding-bottom: 12px;
  }
}
