@import "~@bashkim-com/design-system/src/styleguide/utils/grid";
@import "~@bashkim-com/design-system/src/styleguide/designs/wysiwyg";

.GridVideoSlice {
  @include grid-container;

  padding-top: 20px;
}

.GridVideoSlice li {
  @extend %wysiwyg;

  @include grid-cell(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 6,
      tablet-portrait: 4,
      tablet-landscape: 3,
      desktop-narrow: 3,
      desktop-wide: 3,
    )
  );
}

.GridVideoSlice[data-column-count="1"],
.GridVideoSlice[data-column-count="2"],
.GridVideoSlice[data-column-count="3"] {
  justify-content: center;
}

.Description {
  display: block;
  text-align: center;
}
