@import "~%styleguide/utils/grid";
@import "~%styleguide/utils/wysiwyg";

.GridVideoSlice {
  @include grid-container;

  padding-top: 20px;
}

.GridVideoSlice li {
  @extend %wysiwyg;

  @include grid-cell(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 6,
      tablet-portrait: 4,
      tablet-landscape: 3,
      desktop-narrow: 3,
      desktop-wide: 3,
    )
  );
}

.columns-1,
.columns-2,
.columns-3 {
  justify-content: center;
}

.description {
  display: block;
  text-align: center;
}
