@mixin ChevronDown($delta: 20px) {
  margin-bottom: calc(0px - $delta);
  padding-bottom: $delta;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% calc(100% - $delta),
    calc(50% + $delta) calc(100% - $delta),
    50% 100%,
    calc(50% - $delta) calc(100% - $delta),
    0% calc(100% - $delta)
  );
}

@mixin ChevronLeft($delta: 20px) {
  margin-right: calc(0px - $delta);
  padding-right: $delta;
  clip-path: polygon(
    0% 0%,
    calc(100% - $delta) 0%,
    calc(100% - $delta) calc(50% - $delta),
    100% 50%,
    calc(100% - $delta) calc(50% + $delta),
    calc(100% - $delta) 100%,
    0% 100%
  );
}

@mixin ChevronRight($delta: 20px) {
  margin-left: calc(0px - $delta);
  padding-left: $delta;
  clip-path: polygon(
    calc(0% + $delta) 0%,
    100% 0%,
    100% 100%,
    calc(0% + $delta) 100%,
    calc(0% + $delta) calc(50% + $delta),
    0% 50%,
    calc(0% + $delta) calc(50% - $delta)
  );
}
