@import "~breakpoint-sass";
@import "~%styleguide/vendors/grid/_.scss";
@import "~%styleguide/utils/media";
@import "~%styleguide/utils/grid";
@import "~%styleguide/utils/colours";
@import "~%styleguide/utils/wysiwyg";

.principles {
  @include grid-container;

  li {
    @extend %wysiwyg;
    @include grid-cell(
      $columns: (
        mobile-portrait: 12,
        mobile-landscape: 6,
        tablet-portrait: 3,
        tablet-landscape: 3,
        desktop-narrow: 3,
        desktop-wide: 3
      )
    );

    display: flex;
    flex-direction: column;
  }

  @include breakpoint($media-mobile-portrait) {
    li {
      position: relative;
      padding-top: 15px;
      padding-left: 85px;
      padding-bottom: 15px;
    }

    img {
      position: absolute;
      top: 10px;
      left: 10px;
      order: 1;
      margin-top: 0;
    }

    li h3 {
      order: 2;
      margin-bottom: 0;
    }

    p {
      order: 3;
    }
  }

  @include breakpoint($media-not-mobile-portrait) {
    img {
      order: 1;
      display: block;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
    }

    h3 {
      order: 2;
      margin-bottom: 0 !important;
      text-align: center;
    }

    p {
      order: 3;
    }
  }
}
