@import "~@bashkim-com/style-guide/media.scss";

.Menu {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  position: relative;
}

.Title {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;

  @media #{$media-query-mobile} {
    text-align: center;
  }
}

.BackButton,
.SettingsButton {
  @media #{$media-query-not-mobile} {
    display: none;
  }
}
