@import "~breakpoint-sass";

@import "src/styleguide/utils/media";

.NavigationItem {
  text-transform: uppercase;
  font-weight: bold;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
  }

  span {
    border-bottom: solid 2px transparent;
    padding-top: 2px;
    transition: all 0.3s ease-in-out;
  }

  &[aria-current] span {
    border-bottom-color: currentColor;
  }

  @include breakpoint($media-mobile) {
    a {
      height: 48px;
    }
  }

  @include breakpoint($media-not-mobile) {
    a {
      height: 60px;
    }
  }
}
