@import "~@bashkim-com/style-guide/fonts.scss";

.Slider {
  position: relative;
  margin-top: 20px;
  padding-top: 40px;
}

.PaginationText {
  @include font-size-small;

  position: absolute;
  top: 0;
  left: 40px;
  right: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 0 !important;
}

%PaginationButton {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: 0;
}

.PaginationBack {
  @extend %PaginationButton;
  top: 0;
  left: 0;
  text-align: left;
}

.PaginationNext {
  @extend %PaginationButton;
  top: 0;
  right: 0;
  text-align: right;
}

.PaginationRange {
  width: 100%;
  cursor: col-resize;
}
