.BadgesGold {
  color: #f0b400;
}

.BadgesSilver {
  color: #999c9f;
}

.BadgesBronze {
  color: #ab825f;
}

.Score {
  background-color: #5eba7d;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  margin-top: 5px;
  margin-right: 12px;
  margin-bottom: 5px;
}
