@import "~breakpoint-sass";
@import "~%styleguide/vendors/grid/_";
@import "~%styleguide/utils/media";
@import "~%styleguide/utils/grid";

.PartialSubtitle {
  @include grid-full;

  text-align: center;

  h2 {
    display: inline-block;
    position: relative;
    font-weight: bold;

    @include breakpoint($media-mobile) {
      font-size: 16px;
    }

    @include breakpoint($media-not-mobile) {
      height: 38px;
      line-height: 38px;
      font-size: 26px;
    }
  }

  @include breakpoint($media-mobile) {
    p {
      text-align: left;
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }

  @include breakpoint($media-not-mobile) {
    p {
      text-align: center;
      font-size: 20px;
      line-height: 26px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
