@import "~breakpoint-sass";
@import "../../../styleguide/utils/media";

%group {
  @include breakpoint($media-mobile) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include breakpoint($media-not-mobile) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

:global {
  .group {
    @extend %group;
  }

  .group-alternate {
    @extend %group;

    background-color: $color-shade-background;
  }
}
