@import "src/styleguide/designs/headings";
@import "src/styleguide/designs/lists";
@import "src/styleguide/utils/colors";
@import "src/styleguide/utils/grid";

.FormattedRichText {
  * + * {
    @include breakpoint($media-mobile-portrait) {
      margin-top: grid-gutter($breakpoint: mobile-portrait);
    }

    @include breakpoint($media-mobile-landscape) {
      margin-top: grid-gutter($breakpoint: mobile-landscape);
    }

    @include breakpoint($media-tablet-portrait) {
      margin-top: grid-gutter($breakpoint: tablet-portrait);
    }

    @include breakpoint($media-tablet-landscape) {
      margin-top: grid-gutter($breakpoint: tablet-landscape);
    }

    @include breakpoint($media-desktop-narrow) {
      margin-top: grid-gutter($breakpoint: desktop-narrow);
    }

    @include breakpoint($media-desktop-wide) {
      margin-top: grid-gutter($breakpoint: desktop-wide);
    }
  }

  h1 {
    @extend %heading1;
  }

  h2 {
    @extend %heading2;
  }

  h3 {
    @extend %heading3;
  }

  ol {
    @extend %list-ordered;
  }

  ul {
    @extend %list-unordered;
  }

  li {
    margin-top: 0;
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  a {
    text-decoration: underline;
  }
}
