@import "~@bashkim-com/style-guide/grid.scss";

.CaseStudyDetails {
  @include grid-container($margin: (), $padding: ());
  flex-wrap: wrap;

  > div {
    @include grid-cell(
      $columns: (
        mobile-portrait: 12,
        mobile-landscape: 6,
        tablet-portrait: 6,
        tablet-landscape: 4,
        desktop-narrow: 4,
        desktop-wide: 4,
      )
    );
  }
}
