$color-greyscale-150: #222222;
$color-greyscale-100: #444444;
$color-greyscale-80: #696969;
$color-greyscale-60: #8f8f8f;
$color-greyscale-40: #b4b4b4;
$color-greyscale-20: #dadada;
$color-greyscale-10: #ececec;
$color-greyscale-5: #fefefe;
