@import "./media-query";

@mixin font-size-small {
  @media #{$media-query-mobile} {
    font-size: 0.8rem;
    line-height: 150%;
  }

  @media #{$media-query-not-mobile} {
    font-size: 0.8rem;
    line-height: 150%;
  }
}

@mixin font-size-medium {
  @media #{$media-query-mobile} {
    font-size: 1rem;
    line-height: 150%;
  }

  @media #{$media-query-not-mobile} {
    font-size: 1rem;
    line-height: 150%;
  }
}

@mixin font-size-large {
  @media #{$media-query-mobile} {
    font-size: 1.1rem;
    line-height: 130%;
  }

  @media #{$media-query-not-mobile} {
    font-size: 1.1rem;
    line-height: 130%;
  }
}

@mixin font-size-larger {
  @media #{$media-query-mobile} {
    font-size: 1.6rem;
    line-height: 130%;
  }

  @media #{$media-query-not-mobile} {
    font-size: 1.6rem;
    line-height: 130%;
  }
}

@mixin font-size-largest {
  @media #{$media-query-mobile} {
    font-size: 1.8rem;
    line-height: 130%;
  }

  @media #{$media-query-not-mobile} {
    font-size: 2.5rem;
    line-height: 130%;
  }
}
