@import "~breakpoint-sass";

@import "src/styleguide/designs/headings";
@import "src/styleguide/utils/fonts";
@import "src/styleguide/utils/grid";
@import "src/styleguide/utils/media";

.TitlePartial {
  @include grid-container-bounds;

  display: flex;
  flex-direction: column;

  img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 16px auto;
    display: block;
    order: 1;
  }

  div {
    display: block;
    order: 2;
    text-align: center;
  }

  h1 {
    @extend %heading2;
    text-align: center;
    margin-bottom: 5px;
  }
}
