@import "~@bashkim-com/style-guide/headings.scss";
@import "~@bashkim-com/style-guide/grid.scss";

.TitlePartial {
  @include grid-container-bounds;

  display: flex;
  flex-direction: column;
}

.Image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 16px auto;
  display: block;
  order: 1;
}

.Content {
  display: block;
  order: 2;
  text-align: center;

  h1 {
    @extend %heading-2;

    text-align: center;
    margin-bottom: 5px;
  }
}
