@import "src/styleguide/designs/headings";
@import "src/styleguide/utils/colors";

.Brick {
  display: block;
  height: 100%;
  max-width: 450px;

  .Content {
    position: relative;
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 80px;
    color: $color-text-copy !important;
    padding: 10px;
    height: 100%;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }

  .Content:hover {
    color: $color-charcol !important;
  }

  .Image {
    position: absolute;
    top: 0;
    left: -80px;
    width: 75px;
    height: 75px;
    order: 2;
    border-radius: 50%;
    overflow: hidden;
  }

  .Image img {
    max-width: 100%;
    height: auto;
  }

  h3 {
    @extend %heading3;

    order: 3;
    transition: all 0.3s ease-in-out;
  }

  p {
    order: 4;
  }
}
