@import "~breakpoint-sass";
@import "~%styleguide/utils/colors";
@import "~%styleguide/utils/media";

.CallToAction {
  a {
    color: inherit;
    cursor: pointer;
    border: solid 2px;
    display: inline-block;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none !important;
  }

  a,
  a span {
    transition: all 0.3s ease-in-out;
  }

  a:hover {
    border-color: currentColor;
    background-color: currentColor;
  }

  a:hover span {
    color: $color-white;
  }
}
