@import "~%styleguide/utils/grid";
@import "~%styleguide/utils/wysiwyg";

.DeviceSmartphone {
  display: block;
  width: 400px;
  margin: 0 auto;
  padding: 0;

  .wrapper {
    position: relative;
    background-image: url("/static/vectors/devices/smartphone.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

    // 315 x 641.2499999955
    width: 100%;
    padding-bottom: 203.57142857%;
  }

  .content {
    display: block;
    position: absolute;
    overflow-y: scroll;
    top: 15.9%;
    left: 10.3%;
    width: 79.8%;
    height: 69.5%;
  }

  img {
    display: block;
  }

  figcaption {
    @extend %wysiwyg;
    @include grid-cell-padding(
      $sides: (
        top,
        left,
        right,
        bottom,
      )
    );

    text-align: center;
  }
}
