@import "~@bashkim-com/style-guide/colors.scss";
@import "~@bashkim-com/style-guide/media.scss";

.PortfolioNavigationItem {
  @media #{$media-query-not-mobile} {
    a:hover {
      color: #29e5d0;
    }
  }
}

.AboutNavigationItem {
  @media #{$media-query-not-mobile} {
    a:hover {
      color: #f2911c;
    }
  }
}
