@import "~@bashkim-com/style-guide/fonts.scss";
@import "~@bashkim-com/style-guide/grid.scss";
@import "~@bashkim-com/style-guide/headings.scss";

.Heading {
  @extend %heading-3;
  text-align: center;
}

.Technologies {
  @include grid-container($columns: 2);
}

.Technology {
  @include grid-cell(
    $columns: (
      mobile-portrait: 1,
      mobile-landscape: 1,
      tablet-portrait: 2,
      tablet-landscape: 1,
      desktop-narrow: 1,
      desktop-wide: 1,
    )
  );
}

.TechnologyIcon {
  vertical-align: middle;
  margin: 0 auto;
  max-width: 60px;
  height: auto;
}

.TechnologyName {
  @include font-size-small;
  display: block;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
  text-transform: uppercase;
}
