@import "typed/typed.scss";

.HeaderLogo {
  font-family: "Courier New", Courier, monospace;
  display: block;
}

.Command {
  font-weight: bold;
}

.CommandPath {
  color: orange;
}

.Typewriter {
  @include typed(
    "creative technologist",
    "digital nomad",
    (
      type: 0.03,
      delete: 0.02,
    ),
    (
      caret: false,
      iterations: 1,
      end-on: "bashkim isai",
    )
  );

  /* caret */
  &::after {
    content: "​";
    position: relative;
    display: inline-block;
    border-right: 10px solid transparent;
    white-space: nowrap;
    animation-name: caret;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.2s;
    animation-iteration-count: 14;
    animation-direction: forwards;

    border-right-width: 10px;
    height: 24px;
  }
}

@keyframes caret {
  25% {
    border-color: currentColor;
  }
}
