.CarouselDots {
  position: absolute;
  display: block;
  bottom: -25px;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

  :global(.slick-dotted.slick-slider) {
    margin-bottom: 30px;
  }

  li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  }

  li button {
    font-size: 0;
    line-height: 20px;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    color: currentColor;
    border: 0;
    outline: none;
    background: transparent;
  }

  li button:hover,
  li button:focus {
    outline: none;
  }

  li button::before {
    font-size: 2rem;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    color: currentColor;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: opacity 0.3s;
  }

  li button:hover::before,
  li button:focus::before {
    opacity: 0.75;
  }

  :global(li.slick-active) button::before {
    opacity: 1;
  }
}
