@import "~breakpoint-sass";

@import "src/styleguide/utils/grid";
@import "src/styleguide/utils/media";

.PartialNewspaper {
  @include grid-container-bounds;

  @include breakpoint($media-mobile-portrait) {
    column-count: 1;
  }

  @include breakpoint($media-mobile-landscape) {
    column-count: 2;
  }

  @include breakpoint($media-tablet-portrait) {
    column-count: 3;
  }

  @include breakpoint($media-screen-large) {
    column-count: 4;
  }

  > div {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
