@use "sass:list";
@use "sass:map";

@import "../variables/media-breakpoint";
@import "./design";

@mixin grid-cell-padding(
  $breakpoints: $media-breakpoints,
  $sides: top left right bottom
) {
  @each $breakpoint in $breakpoints {
    $breakpoint-design: map.get($grid-design, $breakpoint);

    @media #{map.get($breakpoint-design, query)} {
      @if list.index($sides, top) {
        padding-top: calc(map.get($breakpoint-design, gutter) / 2);
      }

      @if list.index($sides, left) {
        padding-left: calc(map.get($breakpoint-design, gutter) / 2);
      }

      @if list.index($sides, right) {
        padding-right: calc(map.get($breakpoint-design, gutter) / 2);
      }

      @if list.index($sides, bottom) {
        padding-bottom: calc(map.get($breakpoint-design, gutter) / 2);
      }
    }
  }
}

@mixin grid-cell-span($columns) {
  @each $breakpoint, $span in $columns {
    $breakpoint-design: map.get($grid-design, $breakpoint);

    @media #{map.get($breakpoint-design, query)} {
      grid-column: span $span;
    }
  }
}

@mixin grid-cell($columns) {
  @include grid-cell-span($columns: $columns);
}
