@import "~breakpoint-sass";
@import "~%styleguide/utils/colors";
@import "~%styleguide/utils/grid";
@import "~%styleguide/utils/media";

.Footer {
  .wrapper {
    @include grid-container((
      tablet-landscape
      desktop-narrow
      desktop-wide
    ));
  }

  @include breakpoint($media-screen-large) {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 3em;
      background-color: $color-charcol;
    }

    .wrapper {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
