@import "~@bashkim-com/style-guide/fonts.scss";

$carousel-arrow-left: "←";
$carousel-arrow-right: "→";

%CarouselArrow {
  font-size: 0;
  line-height: 0;
  position: absolute;
  display: block;
  top: 50%;
  width: 1rem;
  height: 1rem;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;

  &:hover,
  &:focus {
    color: transparent;
    outline: none;
    background: transparent;
  }

  &::before {
    @include font-size-medium;
    opacity: 1;
    color: currentColor;
    transition: opacity 0.3s;
  }

  &:hover::before,
  &:focus::before {
    opacity: 0.75;
  }

  &:global(.slick-disabled)::before {
    opacity: 0.25;
  }
}

.CarouselArrowPrev {
  @extend %CarouselArrow;

  left: -25px;

  [dir="rtl"] & {
    right: -25px;
    left: auto;
  }

  &::before {
    content: $carousel-arrow-left;
  }

  [dir="rtl"] &::before {
    content: $carousel-arrow-right;
  }
}

.CarouselArrowNext {
  @extend %CarouselArrow;

  right: -25px;

  [dir="rtl"] & {
    right: auto;
    left: -25px;
  }

  &::before {
    content: $carousel-arrow-right;
  }

  [dir="rtl"] &::before {
    content: $carousel-arrow-left;
  }
}
