@import "src/styleguide/utils/chevron";
@import "src/styleguide/utils/colors";

.Background {
  @include chevron-down;

  position: relative;
  background-color: $color-charcol;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 400px;
}
