@import "~breakpoint-sass";

@import "~@bashkim-com/design-system/src/styleguide/utils/colors.scss";
@import "~@bashkim-com/design-system/src/styleguide/utils/grid.scss";
@import "~@bashkim-com/design-system/src/styleguide/utils/media.scss";

.Footer {
  .wrapper {
    @include grid-container(
      $breakpoints: (
        tablet-landscape desktop-narrow desktop-wide,
      )
    );
  }

  @include breakpoint($media-screen-large) {
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 3em;
      background-color: $color-charcol;
    }

    .wrapper {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
