@import "~@bashkim-com/style-guide/grid.scss";

.DeviceSmartphone {
  display: block;
  width: 400px;
  margin: 0 auto;
  padding: 0;
}

.Wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  /* 315 x 641.2499999955 */
  width: 100%;
  padding-bottom: 203.57142857%;
}

.Device {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Figure {
  display: block;
  position: absolute;
  overflow-y: scroll;
  top: 15.9%;
  left: 10.3%;
  width: 79.8%;
  height: 69.5%;

  img {
    display: block;
  }
}

.Caption {
  @include grid-cell-padding($sides: top left right bottom);

  text-align: center;
}
