@import "~breakpoint-sass";

@import "~@bashkim-com/design-system/src/styleguide/utils/colors.scss";
@import "~@bashkim-com/design-system/src/styleguide/utils/grid.scss";
@import "~@bashkim-com/design-system/src/styleguide/utils/media.scss";
@import "~@bashkim-com/design-system/src/styleguide/designs/wysiwyg.scss";

.CaseStudyHeader {
  @include grid-container;
}

.details {
  @include grid-cell-width(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 12,
      tablet-portrait: 9,
      tablet-landscape: 9,
      desktop-narrow: 9,
      desktop-wide: 9,
    )
  );
}

.technologies {
  @include grid-cell(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 12,
      tablet-portrait: 3,
      tablet-landscape: 3,
      desktop-narrow: 3,
      desktop-wide: 3,
    )
  );

  @include breakpoint($media-not-mobile) {
    border-left: solid 1px $color-shade-border;
  }
}
