$arrow-left: "←";
$arrow-right: "→";

.Carousel {
  width: 100%;
  margin: 0 auto;

  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;

  /* -webkit */
  -webkit-tap-highlight-color: transparent;

  :global {
    /* Arrow generic */
    %arrow {
      font-size: 0;
      line-height: 0;
      position: absolute;
      display: block;
      top: 50%;
      width: 20px;
      height: 20px;
      padding: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
    }

    %arrow:hover,
    %arrow:focus {
      color: transparent;
      outline: none;
      background: transparent;
    }

    %arrow::before {
      font-size: 20px;
      line-height: 1;
      opacity: 0.75;
      color: black;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    %arrow:hover::before,
    %arrow:focus::before {
      opacity: 1;
    }

    %arrow.slick-disabled::before {
      opacity: 0.25;
    }

    /* Implementation */

    .slick-prev,
    .slick-next {
      @extend %arrow;
    }

    /* Previous button */

    .slick-prev {
      left: -25px;
    }

    [dir="rtl"] & .slick-prev {
      right: -25px;
      left: auto;
    }

    .slick-prev::before {
      content: $arrow-left;
    }

    [dir="rtl"] & .slick-prev::before {
      content: $arrow-right;
    }

    /* Next button */

    .slick-next {
      right: -25px;
    }

    [dir="rtl"] .slick-next {
      right: auto;
      left: -25px;
    }

    .slick-next::before {
      content: $arrow-right;
    }

    [dir="rtl"] .slick-next::before {
      content: $arrow-left;
    }
  }
}
