@import "~@bashkim-com/design-system/src/styleguide/utils/grid";
@import "~@bashkim-com/design-system/src/styleguide/designs/wysiwyg";

.PortfolioFeaturedCaseStudies {
  @include grid-container;

  .Item {
    display: flex;
    flex-direction: column;

    @include grid-cell(
      $columns: (
        mobile-portrait: 12,
        mobile-landscape: 6,
        tablet-portrait: 6,
        tablet-landscape: 3,
        desktop-narrow: 3,
        desktop-wide: 3,
      )
    );
  }

  .Details {
    @extend %wysiwyg;

    flex-grow: 0;
  }

  .Tile {
    display: block;
    margin-top: 26px;
    flex-grow: 1;
  }
}
