/* colors */
$color-charcol: #303030;
$color-white: #FFFFFF;
$color-primary: #29E5D0;

/* theme */
$color-theme-blog: #D92929;
$color-theme-portfolio: #2F9BE6;
$color-theme-about: #F2911C;

/* text */
$color-text-copy: #666666;

/* shades */
$color-shade-background: #FAFAFA;
$color-shade-border: #D9D9D9;

/* accolades */
$color-accolade-gold: #D6AF36;
$color-accolade-silver: #A7A7AD;
$color-accolade-bronze: #824A02;
$color-accolade-honour: #CC0000;
