@import "~%styleguide/base/headings/styles";
@import "~%styleguide/utils/colors";
@import "~%styleguide/utils/grid";

%wysiwyg {
  * + * {
    @include breakpoint($media-mobile-portrait) {
      margin-top: grid-gutter($breakpoint: mobile-portrait) / 2;
    }

    @include breakpoint($media-mobile-landscape) {
      margin-top: grid-gutter($breakpoint: mobile-landscape) / 2;
    }

    @include breakpoint($media-tablet-portrait) {
      margin-top: grid-gutter($breakpoint: tablet-portrait) / 2;
    }

    @include breakpoint($media-tablet-landscape) {
      margin-top: grid-gutter($breakpoint: tablet-landscape) / 2;
    }

    @include breakpoint($media-desktop-narrow) {
      margin-top: grid-gutter($breakpoint: desktop-narrow) / 2;
    }

    @include breakpoint($media-desktop-wide) {
      margin-top: grid-gutter($breakpoint: desktop-wide) / 2;
    }
  }

  h3 {
    @extend %heading3;
  }

  ul li::before {
    content: "\2022";
    font-weight: bold;
  }

  ol li::before {
    content: counter(li) ".";
  }

  ol,
  ul {
    list-style: none;
    counter-reset: li;

    > li {
      margin-left: 20px;
      position: relative;
    }

    > li:first-child {
      margin-top: 0;
    }

    > li::before {
      position: absolute;
      display: block;
      counter-increment: li;
      margin-left: -20px;
    }
  }

  strong {
    font-weight: bold;
  }
}
