@import "./media";
@import "../libraries/grid/index";

/* Grid breakpoints */

$grid: (
  mobile-portrait: (
    query: $media-mobile-portrait,
    margin: 14px,
    gutter: 16px,
  ),
  mobile-landscape: (
    query: $media-mobile-landscape,
    margin: 20px,
    gutter: 20px,
  ),
  tablet-portrait: (
    query: $media-tablet-portrait,
    margin: 20px,
    gutter: 28px,
  ),
  tablet-landscape: (
    query: $media-tablet-landscape,
    max-width: 1280px,
    margin: 24px,
    gutter: 20px,
  ),
  desktop-narrow: (
    query: $media-desktop-narrow,
    max-width: 1280px,
    margin: 18px,
    gutter: 20px,
  ),
  desktop-wide: (
    query: $media-desktop-wide,
    max-width: 1280px,
    margin: 18px,
    gutter: 24px,
  ),
);
