*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 1.15em;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: inherit;
}
