code.inline,
samp {
  display: inline-block;
  border: solid 1px #dadada;
  background-color: #ececec;
  padding: 0 0.3rem;
  margin: 0 0.1rem;
  border-radius: 0.15rem;
  font-family: "Courier New", Courier, monospace;
}
