@import "~@bashkim-com/style-guide/media.scss";

.NavigationSocial {
  @media #{$media-query-mobile} {
    svg {
      margin-right: 5px;
      width: 25px;
      height: 25px;
    }
  }

  @media #{$media-query-not-mobile} {
    padding-left: 12px;

    svg {
      width: 30px;
      height: 30px;
    }

    span {
      display: none;
    }
  }
}

%SocialIcon {
  svg {
    fill: currentColor;
  }

  path,
  circle,
  ellipse {
    transition: fill 0.3s ease-in-out;
  }
}

.IconGitHub {
  @extend %SocialIcon;
  @media #{$media-query-mobile} {
    svg path {
      fill: currentColor;
    }
  }

  @media #{$media-query-not-mobile} {
    a:hover svg path {
      fill: #24292f;
    }
  }
}

.IconLinkedIn {
  @extend %SocialIcon;
  @media #{$media-query-mobile} {
    svg path {
      fill: currentColor;
    }
  }

  @media #{$media-query-not-mobile} {
    a:hover svg path {
      fill: #0077b5;
    }
  }
}

.IconMedium {
  @extend %SocialIcon;
  @media #{$media-query-mobile} {
    svg circle,
    svg ellipse {
      fill: currentColor;
    }
  }

  @media #{$media-query-not-mobile} {
    a:hover svg circle,
    a:hover svg ellipse {
      fill: #191919;
    }
  }
}

.IconStackOverflow {
  @extend %SocialIcon;
  @media #{$media-query-mobile} {
    svg :global(.VectorStackOverflowContainer),
    svg :global(.VectorStackOverflowStack) {
      fill: currentColor;
    }
  }

  @media #{$media-query-not-mobile} {
    a:hover svg :global(.VectorStackOverflowContainer) {
      fill: #bcbbbb;
    }

    a:hover svg :global(.VectorStackOverflowStack) {
      fill: #f48024;
    }
  }
}
