@import "~breakpoint-sass";

@import "src/styleguide/utils/clearfix";
@import "src/styleguide/utils/media";

// @import "~%styleguide/utils/z-index";

.Turn {
  @include clearfix;

  &.isUninitialized {
    zoom: 1;
  }

  &.isInitialized {
    zoom: 1;
  }

  position: relative;
  margin-left: auto;
  margin-right: auto;
  // z-index: z-index("Turn");

  .Pages {
    margin-left: auto;
    margin-right: auto;
    transition: margin-left 1s;
  }

  .Pages img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include breakpoint($media-screen-small) {
    margin-bottom: 40px;

    &.isInitialized {
      margin-bottom: 50px;
    }
  }

  @include breakpoint($media-screen-large) {
    &.isUninitialized {
      li {
        float: left;
        width: 50%;
      }
    }

    margin-left: 50px;
    margin-right: 50px;
  }
}
