@import "~@bashkim-com/style-guide/media.scss";

.NavigationItem {
  text-transform: uppercase;
  font-weight: bold;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
  }

  span {
    border-bottom: solid 2px transparent;
    padding-top: 2px;
    transition: all 0.3s ease-in-out;
  }

  &[aria-current] span {
    border-bottom-color: currentColor;
  }

  @media #{$media-query-mobile} {
    a {
      height: 48px;
    }
  }

  @media #{$media-query-not-mobile} {
    a {
      height: 60px;
    }
  }
}
