@import "~@bashkim-com/style-guide/grid.scss";

.PortfolioFeaturedCaseStudies {
  @include grid-container();
}

.PortfolioFeaturedCaseStudy {
  @include grid-cell(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 6,
      tablet-portrait: 6,
      tablet-landscape: 3,
      desktop-narrow: 3,
      desktop-wide: 3,
    )
  );

  display: flex;
  flex-direction: column;
}

.Details {
  flex-grow: 0;
}

.Tile {
  display: block;
  margin-top: 26px;
  flex-grow: 1;
}
