@mixin grid-cell-padding(
  $breakpoints: null,
  $sides: (
    top,
    left,
    right,
    bottom,
  )
) {
  @if (type-of($breakpoints) == "null") {
    @include grid-cell-padding($breakpoints: map-keys($grid), $sides: $sides);
  } @else if (type-of($breakpoints) == "map") {
    @include grid-cell-padding(
      $breakpoints: map-keys($breakpoints),
      $sides: $sides
    );
  } @else if (type-of($breakpoints) == "list") {
    @each $breakpoint in $breakpoints {
      @include grid-cell-padding($breakpoints: $breakpoint, $sides: $sides);
    }
  } @else if (type-of($breakpoints) == "string") {
    $breakpoint: $breakpoints;
    @include breakpoint(grid-query($breakpoint)) {
      @if (index($sides, "top")) {
        padding-top: grid-gutter($breakpoint) / 2;
      }
      @if (index($sides, "left")) {
        padding-left: grid-gutter($breakpoint) / 2;
      }
      @if (index($sides, "right")) {
        padding-right: grid-gutter($breakpoint) / 2;
      }
      @if (index($sides, "bottom")) {
        padding-bottom: grid-gutter($breakpoint) / 2;
      }
    }
  } @else {
    @error "grid-cell-padding( #{type-of($breakpoints)} ): "
      "$breakpoints received type #{type-of($breakpoints)}, "
      "expected `null`, `list`, `map` or `string`";
  }
}
