@import "~breakpoint-sass";

@import "src/styleguide/utils/chevron";
@import "src/styleguide/utils/media";

.SplitPartial {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.isOdd {
    flex-direction: row-reverse;
  }

  @include breakpoint($media-mobile) {
    :global(.SplitPartial_chevron) {
      @include chevron-down;
    }
  }

  @include breakpoint($media-not-mobile) {
    &.isOdd :global(.SplitPartial_chevron) {
      @include chevron-left;
    }

    &.isEven :global(.SplitPartial_chevron) {
      @include chevron-right;
    }
  }
}
