@import "~breakpoint-sass";
@import "../../styleguide/vendors/grid/";
@import "../../styleguide/utils/media";
@import "../../styleguide/utils/grid";

.caseStudies {
  @include grid-container;

  > li {
    @include grid-cell(
      $columns: (
        mobile-portrait: 12 / 1,
        mobile-landscape: 12 / 2,
        tablet-portrait: 12 / 2,
        tablet-landscape: 12 / 4,
        desktop-narrow: 12 / 4,
        desktop-wide: 12 / 4
      )
    );
  }
}
