@import "~%styleguide/utils/grid";

.FooterLinks {
  @include grid-cell-width(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 12,
      tablet-portrait: 12,
      tablet-landscape: 9,
      desktop-narrow: 9,
      desktop-wide: 9
    )
  );
}
