@mixin appearance--dark {
  --color-shade-foreground: #ececf1;

  --design--page--background-color: #000000;
  --design--page--background-color--accent: #ececec;
  --design--page--foreground-color: #bbbbbb;
  --design--page--foreground-color--accent: #ffffff;

  --design--header--background-color: #000000;
  --design--header--foreground-color: #bbbbbb;
  --design--header--shadow: rgba(80, 80, 80, 0.75) 0px 10px 20px -15px;
  --design--header--border-color: #222222;
}
