@mixin appearance--light {
  --color-shade-foreground: #444444;

  --design--page--background-color: #ffffff;
  --design--page--background-color--accent: #ececec;
  --design--page--foreground-color: #444444;
  --design--page--foreground-color--accent: #000000;

  --design--header--background-color: #ffffff;
  --design--header--foreground-color: #444444;
  --design--header--shadow: rgba(30, 30, 30, 0.75) 0px 10px 20px -15px;
  --design--header--border-color: #dadada;
}
