@mixin grid-container-margin($breakpoints: null, $sides: null) {
  $signature: "grid-container-margin( #{type-of($breakpoints)}, #{type-of($sides)} )";

  @if (type-of($sides) == "null") {
    $sides: (top, bottom);
  } @else if (type-of($sides) != "list") {
    @error $signature ": $sides expected `null` or `list`";
  }

  @if (type-of($breakpoints) == "null") {
    @include grid-container-margin(map-keys($grid), $sides);
  } @else if (type-of($breakpoints) == "map") {
    @include grid-container-margin(map-keys($breakpoints), $sides);
  } @else if (type-of($breakpoints) == "list") {
    @each $breakpoint in $breakpoints {
      @include grid-container-margin($breakpoint, $sides);
    }
  } @else if (type-of($breakpoints) == "string") {
    $breakpoint: $breakpoints;

    @include breakpoint(grid-query($breakpoint)) {
      @if (index($sides, "top")) {
        margin-top: grid-margin($breakpoint);
      }

      @if (index($sides, "left")) {
        margin-left: grid-margin($breakpoint);
      }

      @if (index($sides, "right")) {
        margin-right: grid-margin($breakpoint);
      }

      @if (index($sides, "bottom")) {
        margin-bottom: grid-margin($breakpoint);
      }
    }
  } @else {
    @error $signature ": $breakpoints expected `map`, `list` or `string`";
  }
}
