@import "~@bashkim-com/design-system/src/styleguide/utils/grid.scss";
@import "~@bashkim-com/design-system/src/styleguide/designs/wysiwyg.scss";

.CaseStudyExhibitions {
  @include grid-container;

  justify-content: center;

  > li {
    @extend %wysiwyg;
    @include grid-cell(
      $columns: (
        mobile-portrait: 12,
        mobile-landscape: 6,
        tablet-portrait: 4,
        tablet-landscape: 3,
        desktop-narrow: 3,
        desktop-wide: 3,
      ),
      $padding: (
        top,
        left,
        right,
        bottom,
      )
    );

    text-align: center;
  }
}
