@import "~@bashkim-com/style-guide/grid.scss";
@import "~@bashkim-com/style-guide/media.scss";

.FooterGroup {
  @include grid-container-bounds(
    $breakpoints: tablet-landscape desktop-narrow desktop-wide,
    $margin: ()
  );

  @media #{$media-query-screen-large} {
    display: flex;
    grid-gap: 0;
  }
}
