@import "../../styleguide/utils/colours";
@import "../../styleguide/utils/chevron";

.background {
  @include chevron-down;

  position: relative;
  background-color: $color-charcol;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 400px;
}
