@import "~@bashkim-com/style-guide/grid.scss";

.CaseStudies {
  @include grid-container;
}

.CaseStudy {
  @include grid-cell(
    $columns: (
      mobile-portrait: 12,
      mobile-landscape: 6,
      tablet-portrait: 6,
      tablet-landscape: 4,
      desktop-narrow: 3,
      desktop-wide: 3,
    )
  );
}
