@import "~@bashkim-com/style-guide/colors.scss";
@import "~@bashkim-com/style-guide/utils.scss";

.VideoPlayer {
  @extend %ratio-widescreen;

  background-color: $color-greyscale-100;
  color: #ffffff;

  width: 100%;
}
